<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WSAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WSAdapter.Properties.Settings>
            <setting name="WSAdapter_MasterBaseService_MasterBaseService" serializeAs="String">
                <value>http://localhost:10013/MasterBaseService.asmx</value>
            </setting>
            <setting name="WSAdapter_MasterMESWSMain_MESWSMain" serializeAs="String">
                <value>http://218.244.150.177:10100/MESWSMain.asmx</value>
            </setting>
            <setting name="WSAdapter_WebReference_DataGEN" serializeAs="String">
                <value>http://192.168.10.7:5020/DataGEN.asmx</value>
            </setting>
            <setting name="WSAdapter_ERP_fms_MESWSMain" serializeAs="String">
                <value>http://192.168.2.38:2020/MESWSMain.asmx</value>
            </setting>
            <setting name="WSAdapter_ERP_MO_MESWSMain" serializeAs="String">
                <value>http://127.0.0.1/MESWSMain.asmx</value>
            </setting>
        </WSAdapter.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
